
*{
  box-sizing: border-box;
}
.app{
  background: #FFF1D0;
}
.app .red-line{
  position: absolute;
  height: 100%;
  width:2px;
  left: 6em;
  z-index: 3;
  border-left: 1px solid #DD1C1A;
}
.lined-paper-cont {
  display:flex;
  flex-direction: column;
  width: 100%;
}
.lined-paper {
 list-style: none;
 width: 100%;
 position: relative;
 padding-inline-start: 0;
 margin: 0;
}
.lines{
  background: #fff;
  width: 100%;
  height: 2em;
  border-bottom: 1px solid #07A0C3;
  position: relative;
}
.lines:nth-child(9n-5)::before{
  content: "";
  position: absolute;
  width: 2em;
  height: 2em; 
  border-radius: 50%; 
  background: #FFF1D0;
  border: 1px solid #ccc;
  left: 3em;
}
.paper {
  position: relative;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}